.screen {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    background-color: var(--background);
    transition-duration: 200ms;
    scale: 1;
}

.screen.opaque {
    opacity: 0;
    scale: 2;
    transform: scaleY(0.5) scaleX(0.5);
}

#username {
    width: 100%;
}

#name-form {
    display: flex;
    flex-direction: row;

    gap: 10px;
    margin-top: 10px;
}

#popup {
    width: 100vw;
    padding: 25px 0;
    display: flex;

    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);

    background-color: #191919;
    backdrop-filter: blur(20px);

    color: var(--background);
    transition: 0.3s ease-out;

    z-index: -1;
}